@import 'css/bourbon/bourbon';

@media all and (max-width: 1100px), (max-height: 580px) {
	pwr-deck {
		font-size: 14px;
	}
}

@media all and (max-width: 1000px), (max-height: 540px) {
	pwr-deck {
		font-size: 13px;
	}
}

@media all and (max-width: 900px), (max-height: 500px) {
	pwr-deck {
		font-size: 12px;
	}
}

@media all and (max-width: 800px), (max-height: 460px) {
	pwr-deck {
		font-size: 11px;
	}
}

@media all and (max-width: 700px), (max-height: 420px) {
	pwr-deck {
		font-size: 10px;
	}
}

@media all and (max-width: 600px), (max-height: 380px) {
	pwr-deck {
		font-size: 9px;
	}
}

@media all and (max-width: 500px), (max-height: 340px) {
	pwr-deck {
		font-size: 8px;
	}
}

/* Mixins */
@mixin blank-slide() {
	@include box-sizing(border-box);
	width: 100%;
	margin: 0;
	padding: 0;
	&[current] {
		display: block;
	}
	* {
		width: 100%;
		margin: 0;
		padding: 0;
	}
}

@mixin flexbox() {
	display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex-direction($direction) {
	flex-direction: $direction;
	-webkit-flex-direction: $direction;
	-ms-flex-direction: $direction;
}

@mixin order($ord) {
	order: $ord;
	-ms-flex-order: $ord;
	-webkit-order: $ord;
}

@mixin justify-content($just) {
	justify-content: $just;
	-webkit-justify-content: $just;
	-ms-flex-pack: $just;
}

@mixin align-items($align) {
	align-items: $align;
	-ms-flex-align: $align;
	-webkit-align-items: $align;
}

/* Colors */
$gold: #FFBA52;	
$grey1: #9C9C9C; /* rgb(156, 156, 156) */
$grey2: #3B3B3B; /* rgb(59, 59, 59) */
$grey3: #1C1C1C; /* rgb(28, 28, 28) */
$green1: #00B964; /* rgb(0, 185, 100) */
$green2: #008A7E; 
$blue1: #216EB0; /* rgb(33, 110, 176) */
$blue2: rgb(57, 63, 176);
$blue3: #2150B0; /* rgb(33, 80, 176) */
$blue4: #07304B; 
$dark-blue: #0C0C32;
$red1: #DE1B42;
$red2: #BA2C41;

/* Fonts */
$title-font: 'Pacifico', cursive;
$subheading-font: 'Raleway', sans-serif;
$general-font: 'Average Sans', sans-serif;
$number-font: 'Questrial', sans-serif;

/* Default slide styles*/
$deckBG: 														url('light_linen.png') repeat center center;
$heading-color: 										$red2;
$subheading-color: 									grey;
$text-color: 												black;
$link-color:												$blue3;
$visited-link-color:								$grey3;

$preBG:															white;
$pre-label-color:										$red2;
$section-header-color:							$text-color;
$section-header-border:							1px solid lightgrey;

$segue-icon-color:									$gold;
$title-icon-color:									$blue3;
$title-tip-color:										$subheading-color;

/* Default Inner-Deck styles */
$inner-deckBG: 											$grey2;
$inner-deck-border:									0px solid black;
$inner-deck-heading-color: 					rgba(255,255,255,0.9);
$inner-deck-subheading-color: 			rgba(255,255,255,0.9);
$inner-deck-text-color:							rgba(255,255,255,0.9);

$inner-deck-preBG:									url('light_linen.png');
$inner-deck-pre-label-color:				$green1;
$inner-deck-section-header-color:		$inner-deck-text-color;
$inner-deck-section-header-border:	1px solid lightgrey;

html, body {
	width: 100%;
	height: 100%;
}

em { font-style: italic; }

/* Deck Styles */
pwr-deck {
	@include transition(font 0.25s ease);
	width: 100%;
	height: 100%;
	background: $deckBG;
	&:not([slidenumbers='false']):after {
		display: block;
		position: relative;
		bottom: 1.5em;
		text-align: center;
		font-family: $number-font;
		font-size: 1.25em;
		height: 1.25em;
		margin: 0 auto;
		opacity: .4;
		content: attr(current) " / " attr(totalslides);
	}
}

/* Themed Deck Styles*/
pwr-deck.inner-deck {
	@include box-sizing(border-box);
	background: $inner-deckBG;
	font-size: .9em;
	border: $inner-deck-border;
	border-radius: .625em;
	margin: auto;
	> pwr-slide {
		color: $inner-deck-text-color;
		@include flex-direction(column);
		padding: 1.25em;
		> hgroup {
			margin-bottom: .625em;
			text-align: center;
			h1 {
				font-size: 1.85em;
				color: $inner-deck-heading-color;
			}
			h2, h3, h4, h5, h6 {
				color: $inner-deck-subheading-color;
			}
		}
		> section {
			> header {
				color: $inner-deck-section-header-color;
				border-bottom: $inner-deck-section-header-border;	
			}
		}
		pre {
			background: $inner-deck-preBG;
			&[data-lang]:after {
				background-color: $inner-deck-pre-label-color;
			}
		}
	}
}

/* General slide styles */
pwr-slide {
	padding: 1.5em;
	color: $text-color;
	flex-direction: column;
	a {
		&:link {color: $link-color;}
		&:visited, &:hover {color: $visited-link-color;}
	}
	> hgroup {
		width: 90%;
		margin: 0 auto 2em;
		text-align: left;
		font-family: $subheading-font;
		> h1 {
			font-size: 3.5em;
			color: $heading-color;
			font-family: $title-font;
			margin: .6em 0;
		}
		> h2 {
			font-size: 1.5em;
		}
		> h2, h3, h4, h5, h6 {
			margin: .5em 0;
			color: $subheading-color;	
		}
	}
	> section {
		width: 90%;
		margin: 0 auto auto;
		font-family: $general-font;
		font-size: 1.1em;
		> header {
			display: inline-block;
			color: $section-header-color;
			border-bottom: $section-header-border;		
			margin-top: .625em;
			padding-right: 2em;
			font-weight: bold;
			font-size: 1.1em;
		}
		li {
			padding: .5em 0;
		}
	}
	pre {
		background: $preBG;
		&[data-lang]:after {
			background-color: $pre-label-color;
		}
	}

	/* Slide types */
	&.blank {
		@include box-sizing(border-box);
		width: 100%;
		margin: 0;
		padding: 0;
		&[current] {
			display: block;
		}
		* {
			width: 100%;
			margin: 0;
			padding: 0;
		}
	}

	/* Column layouts */
	&.centered-column {
		@include flex-direction(column);
		> hgroup, {
			width: 60%;
			margin: 0 auto .625em;
		}
		> section {
			width: 60%;
			margin: .625em auto 2.5em;
		}
	}
	&.two-column {
		@include box-sizing(border-box);
		> hgroup {
			width: 100%;
			margin: auto;
		}
		> section {
			float: left;
			height: 100%;
			width: 50%;
			@include transition(all 1s ease-in-out);
		}
	}
	&:not(.two-column)[current] {
		@include flexbox;
		@include align-items(center);
		@include justify-content(center);
		&.animated {
			> aside.tip {
				@include animation(fadeIn 1s both 5s, flash 5s infinite 6s);
			}
			> hgroup {
				h1 {
					@include animation(bounce 2s infinite);
				}
				h2, h3{
					@include animation(rollIn 2s both 0.5s);
				}
			}
		}
	}
}


/* Themed slide styles*/
pwr-slide.title-slide {
	@include flex-direction(column);
	> aside.tip {
		@include order(3);
		width: 60%;
		margin: auto;
		text-align: center;
		font-family: $subheading-font;
		color: $title-tip-color;
	}
	> hgroup {
		@include order(1);
		width: 80%;
		margin: auto;
		text-align: center;
		> h1 {
			font-size: 6em;
		}
		> h2 {
			font-size: 2em;
		}
		h2, h3, h4, h5, h6 {
			margin: 1em 0;
		}
	}
	&:after {
		@include order(2);
		width: 3.75em;
		height: 3.75em;
		border-radius: 10em;
		padding: 2.5em;
		content: '';
		background: url(images/title-icon.png) center center no-repeat;
		background-size: 5em;
		background-color: $title-icon-color;
	}
	&[current] {
		&.animated {
			> hgroup {
				h2, h3{
					@include animation(rollIn 2s both 1.5s);
				}
			}
			&:after {
				@include animation(fadeInDownBig 1s both 0.5s, spin 2s 5s infinite);
			}
		}
	}
}

pwr-slide.segue-slide {
	@include flex-direction(column);
	> hgroup {
		width: 80%;
		margin: auto;
		text-align: center;
		h1 {
			font-size: 4em;
			margin: .7em 0;
		}
		h2 {
			font-size: 2em;
		}
		h2, h3, h4, h5, h6 {
			margin: 1em 0;
		}
	}
	&:before {
		position: relative;
		top: 3.5em;	
		border-radius: 10em;
		padding: 2em;
		content: url(images/segue-icon.png);
		background-color: $segue-icon-color;
	}
	&[current].animated:before {
		@include animation(fadeInDownBig 1s both 0.5s, spin 2s linear 2s infinite);
	}
}

/*
 * Slide Color Themes
 */

/* Red Theme Styles */
$redBG: 																	$red2;
$redBG-link-color:												$blue3;
$redBG-visited-link-color:								black;
$redBG-text-color: 												white;
$redBG-heading-color: 										black;
$redBG-subheading-color:									white;

$redBG-preBG:															url('light_linen.png');
$redBG-pre-label-color:										grey;
$redBG-section-header-color:							$redBG-text-color;
$redBG-section-header-border:							$redBG-text-color;

$redBG-title-icon-color:									$blue3;
$redBG-segue-icon-color:									$gold;
$redBG-title-tip-color:										$gold;

/* Red Theme Inner-Deck Styles*/
$redBG-inner-deckBG: 											$blue2;
$redBG-inner-deck-border:									0px solid black;
$redBG-inner-deck-heading-color:					black;
$redBG-inner-deck-subheading-color: 			rgba(255,255,255,0.9);
$redBG-inner-deck-text-color:							rgba(255,255,255,0.9);

$redBG-inner-deck-preBG:									url('light_linen.png');
$redBG-inner-deck-pre-label-color:				$green1;
$redBG-inner-deck-section-header-color:		$redBG-inner-deck-text-color;
$redBG-inner-deck-section-header-border:	1px solid lightgrey;

.red {
	color: $redBG-text-color;
	background: $redBG;
	a:link {color: $redBG-link-color;}
	a:visited, a:hover {color: $redBG-visited-link-color;}
	> hgroup {
		h1 {
			color: $redBG-heading-color;
		}
		h2, h3, h4, h5, h6 {
			color: $redBG-subheading-color;
		}
	}
	pre {
		background: $redBG-preBG;
		&[data-lang]:after {
			background-color: $redBG-pre-label-color;
		}
	}
	pwr-deck.inner-deck {
		background: $redBG-inner-deckBG;
		border: $redBG-inner-deck-border;
		> pwr-slide {
			color: $redBG-inner-deck-text-color;
			> hgroup {
				h1 {
					color: $redBG-inner-deck-heading-color;
				}
				h2, h3, h4, h5, h6 {
					color: $redBG-inner-deck-subheading-color;
				}
			}
			> section {
				> header {
					color: $redBG-inner-deck-section-header-color;
					border-bottom: $redBG-inner-deck-section-header-border;
				}
			}
			pre {
				background: $redBG-inner-deck-preBG;
				&[data-lang]:after {
					background-color: $redBG-inner-deck-pre-label-color;
				}
			}
		}
	}
	&.title-slide {
		> aside.tip {
			color: $redBG-title-tip-color;
		}
		&:after {
			background-color: $redBG-title-icon-color;
		}
	}
	&.segue-slide:before {
		background-color: $redBG-segue-icon-color;
	}
}

/* Blue Theme Styles */
$blueBG: 																			$blue1; 
$blueBG-link-color:														lightsalmon;
$blueBG-visited-link-color:										$gold;
$blueBG-text-color:														white;
$blueBG-heading-color: 												$gold;
$blueBG-subheading-color:											white;

$blueBG-preBG:																url('light_linen.png');
$blueBG-pre-label-color:											$red2;
$blueBG-section-header-color:									$blueBG-text-color;
$blueBG-section-header-border:								$blueBG-text-color;

$blueBG-title-icon-color:											$red1;
$blueBG-segue-icon-color:											$red1;
$blueBG-title-tip-color:											$gold;

/* Blue Theme Inner-Deck Styles */
$blueBG-inner-deckBG: 												$red1;
$blueBG-inner-deck-border:										0px solid black;
$blueBG-inner-deck-heading-color: 						white;
$blueBG-inner-deck-subheading-color:					white;
$blueBG-inner-deck-text-color:		 						white;

$blueBG-inner-deck-preBG: 										url('light_linen.png');
$blueBG-inner-deck-pre-label-color:						$green1;
$blueBG-inner-deck-section-header-color:			$blueBG-inner-deck-text-color;
$blueBG-inner-deck-section-header-border:			$blueBG-inner-deck-text-color;

.blue {
	color: $blueBG-text-color;
	background: $blueBG;
	a:link {color: $blueBG-link-color;}
	a:visited, a:hover {color: $blueBG-visited-link-color;}
	> hgroup {
		h1 {
			color: $blueBG-heading-color;
		}
		h2, h3, h4, h5, h6 {
			color: $blueBG-subheading-color;
		}
	}
	pre {
		background: $blueBG-preBG;
		&[data-lang]:after {
			background-color: $blueBG-pre-label-color;
		}
	}
	pwr-deck.inner-deck {
		background: $blueBG-inner-deckBG;
		border: $blueBG-inner-deck-border;
		> pwr-slide {
			color: $blueBG-inner-deck-text-color;
			> hgroup {
				h1 {
					color: $blueBG-inner-deck-heading-color;
				}
				h2, h3, h4, h5, h6 {
					color: $blueBG-inner-deck-subheading-color;
				}
			}
			> section {
				> header {
					color: $blueBG-inner-deck-section-header-color;
					border-bottom: $blueBG-inner-deck-section-header-border;
				}
			}
			pre {
				background: $blueBG-inner-deck-preBG;
				&[data-lang]:after {
					background-color: $blueBG-inner-deck-pre-label-color;
				}
			}
		}
	}
	&.title-slide {
		> aside.tip {
			color: $blueBG-title-tip-color;
		}
		&:after {
			background-color: $blueBG-title-icon-color;
		}
	}
	&.segue-slide:before {
		background-color: $blueBG-segue-icon-color;
	}
}
/* Green Theme Styles */
$greenBG: 																		$green2;
$greenBG-link-color:													$blue3;
$greenBG-visited-link-color:									$dark-blue;
$greenBG-text-color:													white;
$greenBG-heading-color: 											$gold;
$greenBG-subheading-color:										$grey2;

$greenBG-preBG:																url('light_linen.png');
$greenBG-pre-label-color:											$red2;
$greenBG-section-header-color:								$greenBG-text-color;
$greenBG-section-header-border:								$greenBG-text-color;

$greenBG-title-icon-color:										$blue1;
$greenBG-segue-icon-color:										#006C70;
$greenBG-title-tip-color:											$grey3;

/* Green Theme Inner-Deck Styles */
$greenBG-inner-deckBG: 												$grey2;   
$greenBG-inner-deck-border:										0px solid black;    
$greenBG-inner-deck-heading-color: 						rgba(255,255,255,0.9);   
$greenBG-inner-deck-subheading-color:					rgba(255,255,255,0.9);   
$greenBG-inner-deck-text-color:		 						rgba(255,255,255,0.9);   

$greenBG-inner-deck-preBG: 										url('light_linen.png');    
$greenBG-inner-deck-pre-label-color:					$red1;    
$greenBG-inner-deck-section-header-color:			$greenBG-inner-deck-text-color;    
$greenBG-inner-deck-section-header-border:		1px solid lightgrey;    

.green {
	color: $greenBG-text-color;
	background: $greenBG;
	a:link {color: $greenBG-link-color;}
	a:visited, a:hover {color: $greenBG-visited-link-color;}
	> hgroup {
		h1 {
			color: $greenBG-heading-color;
		}
		h2, h3, h4, h5, h6 {
			color: $greenBG-subheading-color;
		}
	}
	pre {
		background: $greenBG-preBG;
		&[data-lang]:after {
			background-color: $greenBG-pre-label-color;
		}
	}
	pwr-deck.inner-deck {
		background: $greenBG-inner-deckBG;
		border: $greenBG-inner-deck-border;
		> pwr-slide {
			color: $greenBG-inner-deck-text-color;
			> hgroup {
				h1 {
					color: $greenBG-inner-deck-heading-color;
				}
				h2, h3, h4, h5, h6 {
					color: $greenBG-inner-deck-subheading-color;
				}
			}
			> section {
				> header {
					color: $greenBG-inner-deck-section-header-color;
					border-bottom: $greenBG-inner-deck-section-header-border;
				}
			}
			pre {
				background: $greenBG-inner-deck-preBG;
				&[data-lang]:after {
					background-color: $greenBG-inner-deck-pre-label-color;
				}
			}
		}
	}
	&.title-slide {
		> aside.tip {
			color: $greenBG-title-tip-color;
		}
		&:after {
			background-color: $greenBG-title-icon-color;
		}
	}
	&.segue-slide:before {
		background-color: $greenBG-segue-icon-color;
	}
}

/* Black Theme Styles */
$blackBG: 																		$grey2;
$blackBG-link-color:													$gold;
$blackBG-visited-link-color:									$red2;
$blackBG-text-color:													white;
$blackBG-heading-color: 											$red2;
$blackBG-subheading-color:										white;

$blackBG-preBG:																url('light_linen.png');
$blackBG-pre-label-color:											$gold;
$blackBG-section-header-color:								$blackBG-text-color;
$blackBG-section-header-border:								$blackBG-text-color;

$blackBG-title-icon-color:										$blue1;
$blackBG-segue-icon-color:										$gold;
$blackBG-title-tip-color:											$green1;

/* Black Theme Inner-Deck Styles */
$blackBG-inner-deckBG: 												$grey3;   
$blackBG-inner-deck-border:										0px solid black;    
$blackBG-inner-deck-heading-color: 						rgba(255,255,255,0.9);   
$blackBG-inner-deck-subheading-color:					rgba(255,255,255,0.9);   
$blackBG-inner-deck-text-color:		 						rgba(255,255,255,0.9);   

$blackBG-inner-deck-preBG: 										url('light_linen.png');    
$blackBG-inner-deck-pre-label-color:					$blue1;    
$blackBG-inner-deck-section-header-color:			$blackBG-inner-deck-text-color;    
$blackBG-inner-deck-section-header-border:		1px solid lightgrey;    

.black {
	color: $blackBG-text-color;
	background: $blackBG;
	a:link {color: $blackBG-link-color;}
	a:visited, a:hover {color: $blackBG-visited-link-color;}
	> hgroup {
		h1 {
			color: $blackBG-heading-color;
		}
		h2, h3, h4, h5, h6 {
			color: $blackBG-subheading-color;
		}
	}
	pre {
		background: $blackBG-preBG;
		&[data-lang]:after {
			background-color: $blackBG-pre-label-color;
		}
	}
	pwr-deck.inner-deck {
		background: $blackBG-inner-deckBG;
		border: $blackBG-inner-deck-border;
		> pwr-slide {
			color: $blackBG-inner-deck-text-color;
			> hgroup {
				h1 {
					color: $blackBG-inner-deck-heading-color;
				}
				h2, h3, h4, h5, h6 {
					color: $blackBG-inner-deck-subheading-color;
				}
			}
			> section {
				> header {
					color: $blackBG-inner-deck-section-header-color;
					border-bottom: $blackBG-inner-deck-section-header-border;
				}
			}
			pre {
				background: $blackBG-inner-deck-preBG;
				&[data-lang]:after {
					background-color: $blackBG-inner-deck-pre-label-color;
				}
			}
		}
	}
	&.title-slide {
		> aside.tip {
			color: $blackBG-title-tip-color;
		}
		&:after {
			background-color: $blackBG-title-icon-color;
		}
	}
	&.segue-slide:before {
		background-color: $blackBG-segue-icon-color;
	}
}

/* Salmon Theme Styles */
$salmonBG: 																		salmon;
$salmonBG-link-color:													$gold;
$salmonBG-visited-link-color:									$red2;
$salmonBG-text-color:													white;
$salmonBG-heading-color: 											$grey2;
$salmonBG-subheading-color:										$grey2;

$salmonBG-preBG:															url('light_linen.png');
$salmonBG-pre-label-color:										$gold;
$salmonBG-section-header-color:								$salmonBG-text-color;
$salmonBG-section-header-border:							$salmonBG-text-color;

$salmonBG-title-icon-color:										$red1;
$salmonBG-segue-icon-color:										$blue1;
$salmonBG-title-tip-color:										$grey2;

/* Salmon Theme Inner-Deck Styles */
$salmonBG-inner-deckBG: 											url('light_linen.png');   
$salmonBG-inner-deck-border:									0px solid salmon;    
$salmonBG-inner-deck-heading-color: 					$grey3;   
$salmonBG-inner-deck-subheading-color:				$grey3;   
$salmonBG-inner-deck-text-color:		 					$grey3;   

$salmonBG-inner-deck-preBG: 									white;    
$salmonBG-inner-deck-pre-label-color:					$gold;    
$salmonBG-inner-deck-section-header-color:		$salmonBG-inner-deck-text-color;    
$salmonBG-inner-deck-section-header-border:		1px solid lightgrey;    

.salmon {
	color: $salmonBG-text-color;
	background: $salmonBG;
	a:link {color: $salmonBG-link-color;}
	a:visited, a:hover {color: $salmonBG-visited-link-color;}
	> hgroup {
		h1 {
			color: $salmonBG-heading-color;
		}
		h2, h3, h4, h5, h6 {
			color: $salmonBG-subheading-color;
		}
	}
	pre {
		background: $salmonBG-preBG;
		&[data-lang]:after {
			background-color: $salmonBG-pre-label-color;
		}
	}
	pwr-deck.inner-deck {
		background: $salmonBG-inner-deckBG;
		border: $salmonBG-inner-deck-border;
		> pwr-slide {
			color: $salmonBG-inner-deck-text-color;
			> hgroup {
				h1 {
					color: $salmonBG-inner-deck-heading-color;
				}
				h2, h3, h4, h5, h6 {
					color: $salmonBG-inner-deck-subheading-color;
				}
			}
			> section {
				> header {
					color: $salmonBG-inner-deck-section-header-color;
					border-bottom: $salmonBG-inner-deck-section-header-border;
				}
			}
			pre {
				background: $salmonBG-inner-deck-preBG;
				&[data-lang]:after {
					background-color: $salmonBG-inner-deck-pre-label-color;
				}
			}
		}
	}
	&.title-slide {
		> aside.tip {
			color: $salmonBG-title-tip-color;
		}
		&:after {
			background-color: $salmonBG-title-icon-color;
		}
	}
	&.segue-slide:before {
		background-color: $salmonBG-segue-icon-color;
	}
}

/* Gold Theme Styles */
$goldBG: 																			$gold;
$goldBG-link-color:														$blue2;
$goldBG-visited-link-color:										$dark-blue;
$goldBG-text-color:														$grey3;
$goldBG-heading-color: 												$blue1;
$goldBG-subheading-color:											white;

$goldBG-preBG:																url('light_linen.png');
$goldBG-pre-label-color:											$red2;
$goldBG-section-header-color:									$goldBG-text-color;
$goldBG-section-header-border:								$goldBG-text-color;

$goldBG-title-icon-color:											$red1;
$goldBG-segue-icon-color:											$green1;
$goldBG-title-tip-color:											$grey2;

/* gold Theme Inner-Deck Styles */
$goldBG-inner-deckBG: 												url('light_linen.png');   
$goldBG-inner-deck-border:										0px solid gold;    
$goldBG-inner-deck-heading-color: 						$grey3;   
$goldBG-inner-deck-subheading-color:					$grey3;   
$goldBG-inner-deck-text-color:		 						$grey3;   

$goldBG-inner-deck-preBG: 										white;    
$goldBG-inner-deck-pre-label-color:						$red1;    
$goldBG-inner-deck-section-header-color:			$goldBG-inner-deck-text-color;    
$goldBG-inner-deck-section-header-border:			1px solid lightgrey;    

.gold {
	color: $goldBG-text-color;
	background: $goldBG;
	a:link {color: $goldBG-link-color;}
	a:visited, a:hover {color: $goldBG-visited-link-color;}
	> hgroup {
		h1 {
			color: $goldBG-heading-color;
		}
		h2, h3, h4, h5, h6 {
			color: $goldBG-subheading-color;
		}
	}
	pre {
		background: $goldBG-preBG;
		&[data-lang]:after {
			background-color: $goldBG-pre-label-color;
		}
	}
	pwr-deck.inner-deck {
		background: $goldBG-inner-deckBG;
		border: $goldBG-inner-deck-border;
		> pwr-slide {
			color: $goldBG-inner-deck-text-color;
			> hgroup {
				h1 {
					color: $goldBG-inner-deck-heading-color;
				}
				h2, h3, h4, h5, h6 {
					color: $goldBG-inner-deck-subheading-color;
				}
			}
			> section {
				> header {
					color: $goldBG-inner-deck-section-header-color;
					border-bottom: $goldBG-inner-deck-section-header-border;
				}
			}
			pre {
				background: $goldBG-inner-deck-preBG;
				&[data-lang]:after {
					background-color: $goldBG-inner-deck-pre-label-color;
				}
			}
		}
	}
	&.title-slide {
		> aside.tip {
			color: $goldBG-title-tip-color;
		}
		&:after {
			background-color: $goldBG-title-icon-color;
		}
	}
	&.segue-slide:before {
		background-color: $goldBG-segue-icon-color;
	}
}

/* Slide-specific styles */
#slide2, #slide4, #slide5 {
	> hgroup {
		text-align: center;
	}
}