@import 'css/bourbon/bourbon';
@import 'css/neat/neat';

/*
 * TEMPLATE STYLES
 */

/* Mixins */
@mixin blank-slide() {
	@include fill-parent;
	@include box-sizing(border-box);
	width: 100%;
	max-width: 100%;
	margin: 0;
	padding: 0;
}

@mixin flexbox() {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Colors */
$gold: #FFBA52;	
$green1: #00B964; /* rgb(0, 185, 100); */
$green2: #008042; /* rgb(0, 130, 70); */
$blue1: #216EB0; /* rgb(33, 110, 176) */
$blue2: #2150B0; /* rgb(33, 80, 176) */
$blue3: #2132B0; /* rgb(33, 50, 176) */
$dark-blue: #0C0C32;
$red1: #DE1B42;
$red2: #BA2C41;

/* Fonts */
$title-font: 'Pacifico', cursive;
$subheading-font: 'Raleway', sans-serif;
$general-font: 'Average Sans', sans-serif;

$title-color: $red2;
$subheading-color: grey;

html, body {
	width: 100%;
	height: 100%;
}

em {
	font-style: italic;
}

/* Deck Styles */
pwr-deck {
	width: 100%;
	height: 100%;
	background: url('light_linen.png') repeat center center;
	&:not([slidenumbers='false']):after {
		font-family: 'Questrial', sans-serif;
		padding:5px;
		font-size: 20px;
		width: 4%;
		height: 30px;
		position: absolute;
		bottom: 0;
		right: 48%;
		opacity: .4;
		content: attr(current) " / " attr(totalslides);
	}
}

/* Themed Deck Styles*/
pwr-deck.inner-deck {
	@include box-sizing(border-box);
	background: rgba(255,255,255,0.5);
	font-size: .9em;
	border: 1px solid lightgrey;
	border-radius: 10px;
	margin: auto;
	> pwr-slide {
		flex-direction: column;
		padding: 20px;
		> hgroup {
			margin-bottom: 10px;
			text-align: center;
		}
	}
}

/* General slide styles */
pwr-slide {
	padding: 2% 2%;
	> hgroup {
		margin-bottom: 30px;
		text-align: left;
		font-family: $subheading-font;
		> h1 {
			font-size: 3.5em;
			color: $title-color;
			font-family: $title-font;
			margin: .6em 0;
		}
		> h2 {
			font-size: 1.5em;
		}
		> h2, h3, h4, h5, h6 {
			margin: .5em 0;
			color: $subheading-color;	
		}
	}
	> section {
		font-family: $general-font;
		font-size: 1.1em;
		> header {
			display: inline-block;
			border-bottom: 1px solid lightgrey;
			margin-top: 10px;
			padding-right: 30px;
			font-weight: bold;
			font-size: 1.1em;
		}
		li {
			padding: .5em 0;
		}
	}

	/* Slide types */
	&.container {
		padding: 0;
		@include outer-container;
	}
	&.blank {
		@include blank-slide;
	}

	/* Column layouts */
	&.one-column-centered {
		flex-direction: column;
		> hgroup, {
			width: 60%;
			margin: 0 auto 10px;
		}
		> section {
			width: 60%;
			margin: 10px auto 40px;
		}
	}
	&.two-column {
		flex-flow: row wrap;
		> hgroup {
			width: 100%;
			margin: auto;
		}
		> section {
			width: 50%;
			margin: 0 auto auto;
			@include transition(all 1s ease-in-out);
		}
	}
	&.three-column {
		padding: 0;
		@include outer-container;
		> section {
			@include span-columns(4);
			@include omega();
		}
	}
	&[current] {
		@include flexbox;
		&.animated {
			> aside.tip {
				@include animation(fadeIn 1s both 5s, flash 5s infinite 6s);
			}
			> hgroup {
				h1 {
					@include animation(bounce 2s infinite);
				}
				h2, h3{
					@include animation(rollIn 2s both 0.5s);
				}
			}
		}
	}
}


/* Themed slide styles*/
pwr-slide.title-slide {
	flex-direction: column;
	> aside.tip {
		order: 3;
		max-width: 60%;
		margin: auto;
		text-align: center;
		font-family: $subheading-font;
	}
	> hgroup {
		order: 1;
		max-width: 80%;
		margin: auto;
		text-align: center;
		> h1 {
			font-size: 6em;
/*			margin: .7em 0;*/
		}
		> h2 {
			font-size: 2em;
		}
		h2, h3, h4, h5, h6 {
			margin: 1em 0;
		}
	}
	&:after {
		order: 2;
		position: relative;
		border-radius: 100px;
		padding: 20px;
		content: url(images/title-icon.png);
	}
	&[current] {
		&.animated {
			> hgroup {
				h2, h3{
					@include animation(rollIn 2s both 1.5s);
				}
			}
			&:after {
				@include animation(fadeInDownBig 1s both 0.5s, spin 2s linear 5s infinite);
			}
		}
	}
}

pwr-slide.segue-slide {
	@include blank-slide;
	flex-direction: column;
	> hgroup {
		max-width: 80%;
		margin: auto;
		text-align: center;
		h1 {
			font-size: 4em;
			margin: .7em 0;
		}
		h2 {
			font-size: 2em;
		}
		h2, h3, h4, h5, h6 {
			margin: 1em 0;
		}
	}
	&:before {
		position: relative;
		top: 20%;
		border-radius: 100px;
		padding: 20px;
		content: url(images/segue-icon.png);
	}
	&[current].animated:before {
		@include animation(fadeInDownBig 1s both 0.5s, spin 2s linear 2s infinite);
	}
}

/*
 * Slide Color Themes
 */


/* Red Theme Styles */
$redBG: 														rgba(160,0,0,0.7);
$redBG-link-color:									$blue2;
$redBG-visited-link-color:					black;
$redBG-text-color: 									white;
$redBG-heading-color: 							black;
$redBG-subheading-color:						white;

$redBG-segue-icon-color:						$gold;
$redBG-title-icon-color:						$blue2;
$redBG-title-tip-color:							$gold;

$redBG-inner-deckBG: 								$blue2;
$redBG-inner-deck-border-color:			black;
$redBG-inner-deck-heading-color: 		rgba(255,255,255,0.8);
$redBG-inner-deck-text-color:				rgba(255,255,255,0.8);
$redBG-inner-deck-preBG:						url('light_linen.png');
$redBG-inner-deck-pre-label-color:	$green1;


.red {
	color: $redBG-text-color;
	background: $redBG;
	a:link {color: $redBG-link-color;}
	a:visited, a:hover {color: $redBG-visited-link-color;}
	> hgroup {
		h1 {
			color: $redBG-heading-color;
		}
		h2, h3, h4, h5, h6 {
			color: $redBG-subheading-color;
		}
	}
	pwr-deck.inner-deck {
		color: $redBG-inner-deck-text-color;
		background: $redBG-inner-deckBG;
		border-width: 0px;
		border-color: $redBG-inner-deck-border-color;
		> pwr-slide {
			> hgroup {
				h1, h2, h3, h4, h5, h6 {
					color: $redBG-inner-deck-heading-color;
				}
			}
			pre {
				background: $redBG-inner-deck-preBG;
				&[data-lang]:after {
					background-color: $redBG-inner-deck-pre-label-color;
				}
			}
		}
	}
	&.title-slide {
		> aside.tip {
			color: $redBG-title-tip-color;
		}
		&:after {
			border: 10px solid $redBG-title-icon-color;
			background-color: $redBG-title-icon-color;
		}
	}
	&.segue-slide:before {
		border: 10px solid $redBG-segue-icon-color;
		background-color: $redBG-segue-icon-color;
	}
}

/* Blue Theme Styles */
$blueBG: 														rgba(33, 50, 176, 0.8);
$blueBG-link-color:									lightsalmon;
$blueBG-visited-link-color:					$gold;
$blueBG-text-color:									white;
$blueBG-heading-color: 							white;

$blueBG-segue-icon-color:						$red1;
$blueBG-title-tip-color:						$gold;
$blueBG-title-icon-color:						$red1;

$blueBG-inner-deckBG: 							$red1;
$blueBG-inner-deck-border-color:		transparent;
$blueBG-inner-deck-heading-color: 	white;
$blueBG-inner-deck-preBG: 					url('light_linen.png');
$blueBG-inner-deck-text-color:		 	white;
$blueBG-inner-deck-pre-label-color:	$green1;

.blue {
	color: $blueBG-text-color;
	background: $blueBG;
	a:link {color: $blueBG-link-color;}
	a:visited, a:hover {color: $blueBG-visited-link-color;}
	> hgroup {
		> h1, h2, h3, h4, h5, h6 {
			color: $blueBG-heading-color;
		}
	}
	pwr-deck.inner-deck {
		color: $blueBG-inner-deck-text-color;
		background: $blueBG-inner-deckBG;
		border-width: 0px;
		border-color: $blueBG-inner-deck-border-color;
		> pwr-slide {
			> hgroup {
				h1, h2, h3, h4, h5, h6 {
					color: $blueBG-inner-deck-heading-color;
				}
			}
			pre {
				background: $blueBG-inner-deck-preBG;
				&[data-lang]:after {
					background-color: $blueBG-inner-deck-pre-label-color;
				}
			}
		}
	}
	&.title-slide {
		> aside.tip {
			color: $blueBG-title-tip-color;
		}
		&:after {
			border: 10px solid $blueBG-title-icon-color;
			background-color: $blueBG-title-icon-color;
		}
	}
	&.segue-slide:before {
		border: 10px solid $blueBG-segue-icon-color;
		background-color: $blueBG-segue-icon-color;
	}
}


/* Slide-specific styles */
#slide2, #slide4 {
	> hgroup {
		text-align: center;
	}
}

.blue-background {
	background-color: rgba(0,0,150,.8);
}

.green {
	background-color: #0da861;
}