<polymer-element name="pwr-base" constructor="PwrBase">
	<template></template>
	<script type="text/javascript">
		Polymer('pwr-base', {
			// Returns all parent decks for a given element in the order of nearest
			// to farthest ancestor deck
			getParentDecks: function() {
				var parent 			= this.parentNode,
						parentDecks = [];

				while (parent != null) {
					if (parent instanceof PwrDeck) {
						parentDecks.push(parent);
					}
					parent = parent.parentNode;
				}
				return parentDecks;
			}
		});
	</script>
</polymer-element>